:root {
    --clr-bg: #000;
    --clr-fg: #fff;
    --clr-acc: #868686;
    --clr-00dp: hsl(0, 0%, 7%);
    --clr-01dp: hsl(0, 0%, 11%);
    --clr-02dp: hsl(0, 0%, 13%);
    --clr-03dp: hsl(0, 0%, 14%);
    --clr-04dp: hsl(0, 0%, 15%);
    --clr-06dp: hsl(0, 0%, 17%);
    --clr-08dp: hsl(0, 0%, 18%);
    --clr-12dp: hsl(0, 0%, 20%);
    --clr-16dp: hsl(0, 0%, 21%);
    --clr-24dp: hsl(0, 0%, 22%);
    --clr-transparent: hsla(0, 0%, 0%, 0.6);
    --video-play: "▶";
}

/* CSS Boilerplate https://www.joshwcomeau.com/css/custom-css-reset/ */ 

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* CSS */ 

@font-face {
    font-family: "D-DIN-Bold";
    src: url("./fonts/D-DIN-Bold.woff2");
}

@font-face {
    font-family: "D-DIN-Regular";
    src: url("./fonts/D-DIN.woff2");
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--clr-fg);
    background-color: var(--clr-bg);
    font: 14px/28px D-DIN-Bold, Arial, Verdana, sans-serif;
    text-align: left;
    overflow-x: hidden;
}

.background {
    background: no-repeat url(./img/earth-torus.jpg) center / cover, var(--clr-bg);
}

a, a:active, a:link, a:visited {
    color: var(--clr-fg);
    text-decoration: none;
}

::-moz-selection {
    text-shadow: none;
    color: var(--clr-bg);
    background: var(--clr-fg);
}
  
::selection {
    text-shadow: none;
    color: var(--clr-bg);
    background: var(--clr-fg);
}

/* nav-bar */

header {
    display: block;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: top 1s ease, opacity 1s ease;
    transition: top 1s ease, opacity 1s ease;
    animation: opacityAnimation 500ms ease;
}

.header-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: 32px;
    left: 50px;
    width: 210px;
    height: auto;
}

#navigation {
    display: inline-block;
    left: 285px;
}

#navigation-right {
    display: inline-block;
    right: 85px;
}

#navigation, #navigation-right {
    position: absolute;
    top: 38px;
    height: 30px;
}

.nav-links {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    display: inline-block;
    margin: 0 12px;
}

.nav-links li a {
    display: block;
    line-height: 1.4;
    -webkit-transition: opacity .6s linear;
    transition: opacity .6s linear;
    position: relative;
}

.nav-links li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--clr-fg);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
    transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
}

.nav-links li a:focus:after, .nav-links li a:hover:after {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

#hamburger {
    position: absolute;
    display: block;
    padding-top: 4px;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s linear .1s;
    transition: opacity .2s linear .1s;
    cursor: pointer;
}

.hide {
    top: -100px;
    opacity: 0;
}

/* Starting page */

main {
    display: inline;
}

main, .main-wrapper {
    height: 100%;
}

.main-cta {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#torus-header {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%) translateY(-50px);
    text-transform: uppercase;
}

#torus-header h1 {
    position: relative;
    font: 100px/85px D-DIN-Bold, Arial, Verdana, sans-serif;
    color: var(--clr-fg);
    margin-bottom: 20px;
    animation: h1StartAnimation 900ms ease;
}

#torus-header h3, .about-container h2 {
    font: 20px/32px D-DIN-Regular, Arial, Verdana, sans-serif;
    animation: h3StartAnimation 1s ease;
}

@keyframes h1StartAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes h3StartAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    20% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes imgStartAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    30% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes buttonStartAnimation {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    40% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Stats */

.stats {
    width: 100%;
    text-align: center;
    background-color: var(--clr-bg);
    padding-top: 1rem;
}

.stats-content {
    display: flex;
    width: 90%;
    height: auto;
    margin: 75px auto;
    max-width: 960px;
}

.stat {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats .number {
    font: 140px/140px D-DIN-Regular, Arial, Verdana, sans-serif;
}

.stats .label {
    line-height: 14px;
    max-width: 75%;
    margin: 5px auto 0;
    text-transform: uppercase;
    font: 22px/32px D-DIN-Regular, Arial, Verdana, sans-serif;
}

/* Lineart 3D Modell */

.animate-section {
    height: 100%;
    position: relative;
}

.section-inner {
    padding-left: 50px;
    height: 100%;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.section-text {
    height: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px/38px D-DIN-Regular, Arial, Verdana, sans-serif;
}

.img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .2s linear;
}

.img-container img, .img-container video {
    object-fit: cover;
    height: 100%;
    min-height: 900px;
    width: 100%;
    background-color: var(--clr-bg);
    transform: translateX(100px);
}

.hide-animation {
    opacity: 0;
}

.stick-to-top {
    top: 0;
    position: fixed;
}

.stick-to-bottom {
    position: absolute;
    top: 100%;
    bottom: 0;
}

/* Media Queries */

@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }

    #logo {
        left: 50%;
        top: 50%;
        width: 150px;
        margin-top: -5px;
        margin-left: 15px;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    #torus-header h1 {
        font: 69px/65px D-DIN-Bold, Arial, Verdana, sans-serif;
    }

    #torus-header h3 {
        font: 15px/20px D-DIN-Bold, Arial, Verdana, sans-serif;
    }

    .stats .number {
        font: 48px/55px D-DIN-Regular, Arial, Verdana, sans-serif;
    }

    .overview .section-inner, .overview .section-text {
        padding: .5rem;
        width: 100%;
    }

    .overview-text {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 960px) {
    .section-text {
        max-width: 420px;
        margin: auto;
        font: 16px/25px D-DIN-Regular, Arial, Verdana, sans-serif;
    }
}

@media (max-width: 1580px) {
/*     .section-inner {
        min-width: 500px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        position: absolute;
    } */

    .overview .section-inner {
        position: relative;
    }

    .overview-text {
        width: min(100%, 420px);
    }

    .img-container img, .img-container video {
        transform: none;
    }
}

/* Overview */

.overview {
    position: absolute;
    width: 100%;
    margin-top: 260px;
}

.overview-hidden {
    visibility: hidden;
    height: 100%;
}

.overview-text {
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    font: 46px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.columns {
    width: 100%;
}

.columns hr {
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: var(--clr-acc);
    border: none;
}

.hrAnimation {
    animation: overview 3500ms ease;
}

.columns div {
    padding: 20px 0;
}

.staggered {
    opacity: 0;
    margin-left: 50px;
}

.column-item {
    display: flex;
    justify-content: space-between;
}

.column-item p {
    font: 600 16px/18px D-DIN-Regular, Arial, Verdana, sans-serif;
    text-align: right;
    margin-right: -50px;
}

.column-item p:first-child {
    font: 14px/18px D-DIN-Bold, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.column-item i {
    font-style: normal;
    color: var(--clr-acc);
}

@keyframes overview {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Video Section */

.video-section {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    cursor: pointer;
}

.video-section .video-content {
    position: absolute;
    top: 0;
    height: 100%;
}

.video-section-text {
    position: absolute;
    max-width: 486px;
    top: 65%;
    left: 50px;
    font: 20px/38px D-DIN-Regular, Arial, Verdana, sans-serif;
}

.video-section h2 {
    max-width: 90%;
}

.video-content {
    width: 100%;
}

.video-content-top::before {
    content: var(--video-play);
    font-size: 4.2em;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: font-size 200ms ease;
}

.video-section:hover .video-content-top::before {
    font-size: 3rem;
}

.video-content-top {
    z-index: 2;
}

.video-content-top .video-content-text {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
}

#close-video {
    opacity: 0;
    font-size: 16px;
    background-color: var(--clr-bg);
    box-shadow: 0 0 10px -2px var(--clr-bg);
    padding: 10px 15px;
    position: absolute;
    border-radius: 100vh;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 200ms ease;
}

.video-content-bottom:hover #close-video {
    opacity: 1;
}

/* Next Section */

.next-section {
    position: relative;
    background-image: url(./img/mars_landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.next-section .section-text {
    position: absolute;
    top: 13%;
    right: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.next-section p {
    font: 16px/26px D-DIN-Regular, Arial, Verdana, sans-serif;
}

/* Libraries */

.libraries-background {
    background: no-repeat url(./img/libraries.jpg) center / cover, var(--clr-bg);
}

.libraries {
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
}

.library {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.library .buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    animation: buttonStartAnimation 1100ms ease;
}

.library h1, .about-container h1 {
    font: 46px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
    animation: h1StartAnimation 900ms ease;
    text-transform: uppercase;
}

.library p, .about-container p {
    font: 20px/25px D-DIN-Regular, Arial, Verdana, sans-serif;
    animation: h3StartAnimation 1000ms ease;
}

.btn {
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    border: 2px solid var(--clr-fg);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.btn-hover {
    width: 100%;
    height: 100%;
    background-color: var(--clr-fg);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform .3s;
}

.btn:hover .btn-hover {
    transform: scaleY(1);
    transform-origin: bottom center;
}

.btn-text {
    width: 100%;
    font: 14px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
    color: var(--clr-fg);
    text-transform: uppercase;
    position: relative;
    transition: color .2s;
}

.btn:hover .btn-text {
    color: var(--clr-bg);
}

/* About */

.about-background {
    text-shadow: 0 0 10px var(--clr-transparent);
    background: no-repeat url(./img/about.jpg) top center / cover, var(--clr-bg);
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    padding: 3rem;
    background-color: var(--clr-transparent);
}

.about-container .img-container2 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    animation: imgStartAnimation 1200ms ease;
}

.about-container .img-container2 img {
    width: min(100%, 300px);
}

.about-container .button-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
}

/* Footer */

footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-acc);
    padding: 20px 0;
    font: 12px/24px D-DIN-Bold, Arial, Verdana, sans-serif;
    background-color: var(--clr-bg);
}

footer p {
    margin-top: 15px;
}

footer span {
    display: block;
    font-size: 12px;
    margin: 0 20px 5px 20px;
    font: D-DIN-Regular;
}

footer a {
    display: inline-block;
    margin: 0 20px;
    transition: color 1s cubic-bezier(.25,1,.25,1);
}

footer a:hover {
    color: #979797;
}